<header id="header" class="alt">
    <nav>
        <a href="/es">Home</a>
        <a href="/es/#features">Productos</a>
        <a href="/es/#usecases">Casos de uso</a>
        <a href="/es/blog">Blog</a>
        <a href="/es/#footer">Contacto</a>
        <a target="_blank" href="https://stockmind-slack-invitation.herokuapp.com/"><img alt="slack" height="30vh" src="/images/social/social-1_round-slack.svg"/></a>
        <a target="_blank" href="https://t.me/stockmind"><img alt="telegram" height="30vh" src="/images/social/social-1_round-telegram.svg"/></a>
    </nav>
</header>