<header id="header" class="alt">
    <nav>
        <a href="/en">Home</a>
        <a href="/en/#features">Features</a>
        <a href="/en/#usecases">Business cases</a>
        <a href="/es/blog">Blog</a>
        <a href="/en/#footer">Contact</a>
        <a target="_blank" href="https://stockmind-slack-invitation.herokuapp.com/"><img alt="slack" height="30vh" src="/images/social/social-1_round-slack.svg"/></a>
        <a target="_blank" href="https://t.me/stockmind"><img alt="telegram" height="30vh" src="/images/social/social-1_round-telegram.svg"/></a>
    </nav>
</header>